html, body {
  background-color: $c-background;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $c-main-text;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  width: $w-wrapper;
  min-width: $w-wrapper-min;
  margin: auto;
  padding: 25px;

  @media(max-width: $m-width) {
    width: 100%;
  }

  @media(max-width: $m-nav) {
    padding: 15px;
    font-size: 0.85em;
  }
}

a {
  color: #707070;

  &:hover {
    color: #A0A0A0;
  }
}

i {
  margin-right: 8px;
}
