// Media Queries
$m-width: 850px;
$m-nav: 800px;

// General - Colours
$c-background: #FFF;
$c-main-text: #151515;

// General - Dimensions
$w-wrapper: 850px;
$w-wrapper-min: 350px;

// Logo
$s-logo: 0.75;
$w-logo: calc(400px * #{$s-logo});
$h-logo: calc(76px * #{$s-logo});

// Nav
$c-nav-text: #444;
$c-nav-button: rgba(0,0,0,0.05);
$c-nav-button-hover: rgba(0,0,0,0.3);

// Buttons
$c-button-blue: #006CB5;
$c-button-blue-hover: #0179CA;

// Drawer
$w-drawer: 280px;

// Callouts
$c-callout-event-bg: #FFF6D7;
$c-callout-event-text: #B19C52;
$c-callout-advert-bg: #d1ecff;
$c-callout-advert-text: #5797ce;
