@mixin article {
  width: 50%;
  float: left;
  overflow: auto;
  box-sizing: border-box;

  &:nth-child(odd) {
    padding: 0px 25px 0px 0px;
  }

  &:nth-child(even) {
    padding: 0px 0px 0px 25px;
    clear: both;
  }
}
