@mixin button {
  display: inline-block;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding: 0px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 10px 5px 0px;
}

@mixin button__blue {
  background-color: #006CB5;
  color: #FFF;

  &:hover {
    background-color: #0179CA;
    color: #FFF;
  }
}

@mixin button__blue-outline {
  height: 36px;
  line-height: 36px;
  border: solid 2px $c-button-blue;
  color: $c-button-blue;

  &:hover {
    background-color: lighten($c-button-blue, 60%);
    color: $c-button-blue;
  }
}

@mixin button__white-outline {
  height: 36px;
  line-height: 36px;
  border: solid 2px #F0F0F0;
  color: #F0F0F0;

  &:hover {
    background-color: rgba(255,255,255,0.15);
  }
}

@mixin button__disabled {
  background-color: rgba(0,0,0,0.25);
  color: #FFF;
  pointer-events: none;
}

@mixin button__event {
  height: 36px;
  line-height: 36px;
  border: solid 2px $c-callout-event-text;
  color: $c-callout-event-text;

  &:hover {
    background-color: rgba(255,255,255,0.5);
    color: $c-callout-event-text;
  }

  &:last-child {
    margin-right: 6px;
  }
}

@mixin button__advert {
  height: 36px;
  line-height: 36px;
  border: solid 2px $c-callout-advert-text;
  color: $c-callout-advert-text;

  &:hover {
    background-color: rgba(255,255,255,0.5);
    color: $c-callout-advert-text;
  }

  &:last-child {
    margin-right: 6px;
  }
}
