@mixin footer {
  height: 75px;
  line-height: 75px;
  overflow: auto;
  margin-top: 25px;

  @media(max-width: 600px) {
    height: 150px;
  }
}

@mixin footer__left {
  float: left;

  @media(max-width: 600px) {
    float: none
  }
}

@mixin footer__right {
  float: right;

  @media(max-width: 600px) {
    float: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
  }
}

@mixin footer__icon {
  line-height: 75px;
  display: block;
  width: calc(281px / 1.5);
  height: 75px;
  background-image: url('../img/rsymuk.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  @media(max-width: 600px) {
    margin: 0 auto;
  }
}

@mixin footer__link {
  display: block;
  margin: 0px 10px;
  float: left;

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }
}
