@mixin header {
  overflow: auto;
  padding: 15px 0px;
  background-color: rgba(255,255,255,1);
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0px;
}

@mixin header__logo {
  width: $w-logo;
  height: $h-logo;
  background-image: url('../img/logo.jpg');
  background-size: $w-logo;
  background-repeat: no-repeat;
  float: left;
  display: block;

  @media(max-width: $m-nav) {
    width: calc(#{$w-logo / 1.25});
    height: calc(#{$h-logo / 1.25});
    background-size: calc(#{$w-logo / 1.25});
  }
}

@mixin header__nav-common {
  box-sizing: border-box;

  a, label {
    height: 39px;
    line-height: 39px;
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 9px 10px;
    font-weight: 300;
    border-bottom: solid 2px $c-nav-button;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    color: $c-nav-text;
    text-decoration: none;

    &:hover, &.selected {
      border-bottom: solid 2px $c-nav-button-hover;
    }

    @media(max-width: $m-nav) {
      margin: 3px 5px;
    }
  }

  @media(max-width: $m-nav) {
    display: none;
  }

  a.header__nav-icon {
    border-bottom: none;
    float: right;
    font-size: 1.2em;
    text-align: center;
    border-bottom: none;
    border-radius: 4px;
    padding: 0px 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@mixin header__nav {
  @include header__nav-common;

  clear: both;
}

@mixin header__nav-icon {

  i {
    margin-right: 0px;
  }

  &:hover {
    border-bottom: none;
    background-color: $c-nav-button;
  }
}

@mixin header__nav-top {

  float: right;

  a:last-child {
    margin-right: 0px;
  }

  @media(max-width: $m-nav) {
    display: none;
  }
}

@mixin header__nav-mobile {
  @include header__nav-common;

  @media(max-width: $m-nav) {
    float: right;
    display: block;

    a, label {
      text-align: center;
      border-bottom: none;
      border-radius: 4px;
      padding: 0px 10px;

      &:hover, &.selected {
        border-bottom: none;
        background-color: $c-nav-button;
      }

      i {
        margin-right: 0px;
        width: 20px;
      }
    }

    a {
      text-align: left;
    }
  }
}

@mixin burger__checkbox {
  display: none;

  @media(max-width: $m-nav) {
    &:checked + .drawer {
      transform: translateX(305px);
      transition: transform .25s ease-in-out;
    }
  }
}

@mixin burger__label {
  cursor: pointer;

  &.label {
    display: none;
  }

  @media(max-width: $m-nav) {
   &.label {
      display: block;
    }
  }
}

@mixin drawer {
  z-index: 1;
  position: fixed;
  width: $w-drawer;
  top: 0px;
  left: -305px;
  transform: translateX(0px);
  transition: transform .25s ease-in-out;
  height: 100%;
  overflow-y: scroll;
  background-color: #FFF;
  overflow: visible;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 10px 0px 30px -10px rgba(0,0,0,0.5);

  a {
    color: #000;
    float: none;
    padding-left: 40px;
  }
}

@mixin drawer__header {
  display: block;
  width: $w-drawer;
  height: 100px;
  background:
    url('../img/logo.jpg'),
    #FFF
  ;
  background-size:
    #{(400 * 0.75) / 1.5}px #{(76 * 0.75) / 1.5}px,
    $w-drawer 200px
  ;
  background-repeat: no-repeat;
  background-position: 50%;
}

@mixin drawer__menu {
  border-top: solid 1px #303030;

  &:nth-child(2) {
    border-top: 0;
  }

  h2 {
    height: 64px;
    line-height: 64px;
    font-weight: 300;
    margin: 0px;
    padding-left: 40px;
    color: #FF0000;
  }
}

@mixin drawer__menu-item {
  display: block;
  box-sizing: border-box;
  padding: 18px 18px 18px 40px;
  color: #FF00FF;
  width: 100%;
  text-decoration: none;

  &:hover {
    background-color: #00FF00;
  }
}

@mixin drawer__menu-item-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  padding-right: 16px;
  color: #FFFF00;
}

@mixin drawer__menu-item-text {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}

@mixin webkit-scrollbar {

  background-color: transparent;
  opacity: 0;

  &:hover {
    opacity: 1;
    background-color: rgba(255,255,255,.1);
  }

  &:horizontal {
    height: 8px;
  }

  &:vertical {
    width: 8px;
  }
}

@mixin webkit-scrollbar-button {
  display: none;
}

@mixin webkit-scrollbar-track {
  background-color: transparent;
}

@mixin webkit-scrollbar-track-piece {}

@mixin webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.1);
  border-radius: 0px;

  &:hover {
    background-color: rgba(255,255,255,.3);
  }
}

@mixin webkit-scrollbar-corner {
  background-color: transparent;
}

@mixin webkit-resizer {}
